.container11{
  width: 500px;
  height: 250px;
  background: linear-gradient(180deg, #f08, #d0e);
  border-radius: 30px;
}
.example-container11 {
    height: 895px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #f08, #3b43de);
  }