.container11{
  padding: 2vh;
  background: linear-gradient(180deg, #f08, #d0e);
  border-radius: 30px;
}
.example-container11 {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #f08, #3b43de);
  }