@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.card {
    flex: 0 0;
    margin: 10px;
    border-radius: 5px;
    background-color: #424242;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    color: #BDBDBD;
    min-width: 110vh;
    max-width: 110vh;
}

.card:hover {
    background-color: #BDBDBD;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: #424242
}

.card title {
    min-height: "10vh";
    max-width: "20rem";
}

.card img {
    margin: auto;
    display: block;

    width: 100%;
    border-radius: 5px 5px 0 0;
    min-height: 60vh;
    min-width: 45vh;
    max-width: 45vh;
    max-height: 60vh;
}

.card h1 {
    margin: 10px;
    font-size: 24px;

}
.card h3 {
    margin: 10px;
    font-size: 18px;
}

.card p {
    margin: 0 10px 10px;
    font-size: 18px;
}

.Button2 {
    display: inline-block;
    border: none;
    outline: none;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    min-width: 15vh;
    margin: 1vh;
}

.editButtonsX {
    border-radius: 20px;
    padding: 0.4vh 1vh;
    margin-left: 1vh;
    border: none;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #333;
    cursor: pointer;
    transition: 0.3s;
}

.Button2:hover {
    background-color: #666;
}

.questions {
    margin: 1vh;
    color: white;
    padding: 10px 5px;
    min-width: 20vh;
    font-size: 16px;
    font-weight: bold;
}

.editButtons {
    border-radius: 20px;
    padding: 0.4vh 1vh;
    margin-left: 1vh;
    border: none;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #333;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 0.7vh;
}


    .parent {
        display: grid;
        grid-template-columns: 2fr 0.2fr;
        grid-template-rows: repeat(4, 0.25fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
    
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 1 / 2 / 2 / 3; }
    .div6 { grid-area: 2 / 2 / 3 / 3; }
    .div7 { grid-area: 3 / 2 / 4 / 3; }
    .div8 { grid-area: 4 / 2 / 5 / 3; }